:root {
  --main-color: #f5eec8;
  --text-color: #555843;
  --light-color: #a7d397;
  --light-color-hover: rgb(148, 189, 133);
  --nutral-color: #d0d4ca;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  padding-bottom: 20px;
}

.game-container {
  /* background-color: #61485f; */
  text-align: center;
  margin: auto;
}

.info-container {
  margin-block: 20px;
}

.board-container {
  margin: auto;
}

.board {
  box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
  -webkit-box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
  -moz-box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
}

.cell {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  border: 2px solid #6753ff36;

  background-color: var(--nutral-color);

  text-align: center;
  color: var(--text-color);
}

.smiley {
  display: block;
  margin: 20px auto;
  width: 50px;
  cursor: pointer;
}

.not-marked {
  background-color: var(--light-color);
}

.cell.pointer:hover {
  background-color: var(--light-color-hover);
}

.marked {
  background-color: rgb(234, 192, 255);
  cursor: auto !important;
}

.marked:hover {
  background-color: rgb(234, 192, 255) !important;
}

.pointer {
  cursor: pointer;
}

.number-one {
  color: blue;
}

.number-two {
  color: green;
}

.number-three {
  color: red;
}

.mine {
  background-color: #9400ff;
  color: #e4f1ff;
}

button {
  cursor: pointer;
}

.selected-level {
  background-color: orange;
}

.hints-container {
  height: 50px;
}

.hints-container img {
  width: 50px;
}
