:root {
  --main-color: #f5eec8;
  --text-color: #2f3124;
  --light-color: #a7d397;
  --light-color-hover: rgb(148, 189, 133);
  --nutral-color: #d0d4ca;
  --nutral-color-hover: rgb(180, 185, 172);
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace, 'Gill Sans MT', Calibri,
    'Trebuchet MS', sans-serif;
  font-weight: bold;
  user-select: none;
}

.creative-mines-container p {
  margin: unset;
}
.creative-mines-container {
  margin-block: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20px;
}

.game-container {
  text-align: center;
  margin: auto;
}

.info-container {
  margin-top: 25px;
  margin-bottom: 10px;
}

.board-container {
  margin: auto;
}

.shadow {
  box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
  -webkit-box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
  -moz-box-shadow: 6px 11px 9px -5px rgba(112, 86, 86, 0.67);
}

.cell {
  width: 2em;
  height: 2em;
  border: 2px solid #6753ff36;
  background-color: var(--nutral-color);
  text-align: center;
  color: var(--text-color);
  font-size: 0.8em;
  @media (min-width: 1024px) {
    font-size: 1.5em;
  }
}

.resets-container {
  margin-bottom: 20px;
}

.smiley {
  margin-inline: 15px;
  width: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

.not-marked {
  background-color: var(--light-color);
}

.cell.pointer:hover {
  @media (min-width: 1024px) {
    background-color: var(--light-color-hover);
  }
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.cell img {
  width: 15px;
  @media (min-width: 1024px) {
    width: 30px;
  }
}

.marked {
  background-color: rgb(234, 192, 255);
  color: black;

  cursor: auto !important;
}

.marked:hover {
  @media (min-width: 1024px) {
    background-color: rgb(234, 192, 255) !important;
  }
}

.pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
  border: unset;
  font-weight: bold;
  background-color: var(--nutral-color);
  color: var(--text-color);
  font-size: 0.8em;
  @media (min-width: 1024px) {
    font-size: 1em;
  }
}

button:hover {
  @media (min-width: 1024px) {
    background-color: var(--nutral-color-hover);
  }
}

.selected-level {
  background-color: var(--light-color);
}

.hints-container {
  height: 35px;
  @media (min-width: 1024px) {
    height: 50px;
  }
}

.hints-container img {
  width: 35px;
  @media (min-width: 1024px) {
    width: 50px;
  }
}

.dark-mode {
  position: fixed;
  display: flex;
  top: 25px;
  right: 25px;
}

.undo {
  width: 50px;
  transition: all 0.4s linear;
}

.rotated {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.game-stats {
  left: 49%;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin: auto;
  transition: transform 0.3s linear;
  font-size: 0.8em;
  @media (min-width: 1024px) {
    font-size: 1.3em;
  }
}

.game-stats > * {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  width: 170px;
}

.big-transform {
  transform: scale(1.3);
}

.mine-img {
  width: 30px;
}

.heart-img {
  margin-inline: 5px;
  width: 30px;
  @media (min-width: 1024px) {
    width: 40px;
  }
}

.helpers-btns-container {
  margin-bottom: 20px;
}

.timer-container img {
  width: 30px;
  margin-bottom: 3px;
}

.best-score-modal {
  position: fixed;
  pointer-events: none;
  padding: 20px;
  background-color: var(--nutral-color);
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.7em;
  top: 5px;
  left: 5px;
  @media (min-width: 1024px) {
    font-size: 1em;
    top: 20px;
    left: 20px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.title-container img {
  margin-inline: 10px;
  width: 25px;
  @media (min-width: 1024px) {
    width: 50px;
  }
}

.outline {
  outline: 3px solid #ff5e8a;
}

.dark-mode img {
  width: 30px;
}

h1 {
  @media (max-width: 1024px) {
    font-size: 1.2em;
  }
}
